@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-[#1A1A1D] text-gray-300;
  }
}

/* width 
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #ffe600; 
}
 

::-webkit-scrollbar-thumb {
  background: rgb(54, 54, 54); 
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}*/